<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/sidebar/index.css}">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

	<link rel="stylesheet" th:href="@{/caisse/css/style.css}">
</head>
<body>
    <!--fixed sidebar and title-->
    <header>
        <h1 class="header-title">Dental Soft</h1>
    </header>
    <div class="sidebar">
        <ul>
            <li><a th:href="@{/profile}" >Mon Profile</a></li>
            <li><a th:href="@{/agenda}" >Agenda</a></li>
            <li><a th:href="@{/patients}">Patients</a></li>
            <li><a th:href="@{/caisse}" style="background-color: white;color: #7B68EE;text-align: center;">Caisse</a></li>
            <li><a th:href="@{/personnels}">Personnels</a></li>
            <li><a th:href="@{/parametres}">Paramètres</a></li>
        </ul>
    </div>
    <!--end fixed sidebar and title-->
    <div class="search-container">
        <input type="text" class="search-bar" placeholder="Search...">
        <button class="search-button">Search</button>
    </div>
        <table>
            <thead>
            <tr>
                <th>N° Facture</th>
                <th>Date</th>
                <th>Nom Complet du Patient</th>
                <th>N° Consultation</th>
                <th>Montant</th>
                <th>Actions</th>
            </tr>
            <thead>
            <tbody>
            <tr>
                <td>CES-9000</td>
                <td>10/03/2024</td>
                <td>Iliass Boulaich</td>
                <td>200938</td>
                <td>2000 DH</td>
                <td>
                    <a><i class="fa-solid fa-print"></i></a>
                    <a><i class="fas fa-trash-alt"></i></a>
                </td>
            </tr>
                <tr>
                <td>CES-9000</td>
                <td>14/03/2024</td>
                <td>Ayoub Sabbar</td>
                <td>200939</td>
                <td>1000 DH</td>
                <td>
                    <a><i class="fa-solid fa-print"></i></a>
                    <a><i class="fas fa-trash-alt"></i></a>
                </td>
            </tr>
                <tr>
                <td>CES-9000</td>
                <td>20/03/2024</td>
                <td>Ahmed Lhiba</td>
                <td>378938</td>
                <td>200 DH</td>
                <td>
                    <a><i class="fa-solid fa-print"></i></a>
                    <a><i class="fas fa-trash-alt"></i></a>
                </td>
            </tr>
                <tr>
                <td>CES-9000</td>
                <td>25/03/2024</td>
                <td>Khalid Mimouni</td>
                <td>200935</td>
                <td>800 DH</td>
                <td>
                    <a><i class="fa-solid fa-print"></i></a>
                    <a><i class="fas fa-trash-alt"></i></a>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="box-div">
            <div class="box-container">
                <div class="box">
                    <div class="number">35000 DH</div>
                    <div class="title">Recette <br>du Mois</div>
                </div>
                <div class="box">
                    <div class="number">5000 DH</div>
                    <div class="title">Recette de <br>la semaine</div>
                </div>
                <div class="box">
                    <div class="number">1000 DH</div>
                    <div class="title">Recette <br>du Jour</div>
                </div>
                <div class="box">
                    <div class="number">20000 DH</div>
                    <div class="title">Gain du <br>mois</div>
                </div>
                <div class="box">
                    <div class="number">15000 DH</div>
                    <div class="title">Dépence <br>du mois</div>
                </div>
                <div class="box">
                    <div class="number">1000 DH</div>
                    <div class="title">Dépence de <br>la semaine</div>
                </div>
            </div>
        </div>
</body>
</html>