<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/sidebar/index.css}">
</head>
<body>
    <!--fixed sidebar and title-->
    <header>
        <h1 class="header-title">Dental Soft</h1>
    </header>
    <div class="sidebar">
        <ul>
            <li><a th:href="@{/profile}" >Mon Profile</a></li>
            <li><a th:href="@{/agenda}" >Agenda</a></li>
            <li><a th:href="@{/patients}">Patients</a></li>
            <li><a th:href="@{/caisse}">Caisse</a></li>
            <li><a th:href="@{/personnels}">Personnels</a></li>
            <li><a th:href="@{/parametres}" style="background-color: white;color: #7B68EE;text-align: center;">Paramètres</a></li>
            <li id="logout"><a th:href="@{/logout}">Logout</a></li>

        </ul>
    </div>
    <!--end fixed sidebar and title-->

</body>
</html>