<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/sidebar/index.css}">
    <link rel="stylesheet" th:href="@{/profile/css/profile.css}">
</head>
<body>
    <!--fixed sidebar and title-->
    <header>
        <h1 class="header-title">Dental Soft</h1>
    </header>
    <div class="sidebar">
        <ul>
            <li><a th:href="@{/profile}" style="background-color: white;color: #7B68EE;text-align: center;">Mon Profile</a></li>
            <li><a th:href="@{/agenda}">Agenda</a></li>
            <li><a th:href="@{/patients}">Patients</a></li>
            <li><a th:href="@{/caisse}">Caisse</a></li>
            <li><a th:href="@{/personnels}">Personnels</a></li>
            <li><a th:href="@{/parametres}">Paramètres</a></li>
            
        </ul>
    </div>
    <!--end fixed sidebar and title-->
    <div class="profile-container">
        <div class="profile-header">
            <img src="profile/images/dentist-icon.jpg" alt="Profile Picture" class="profile-picture">
            <div class="profile-info"><br>
                <h1>DR. <span th:text="${dentiste.nom}"></span>  <span th:text="${dentiste.prenom}"></span></h1>
                <p><span th:text="${dentiste.specialite}"></span></p>
            </div>
            <button class="modifier-button" id="modifierButton">Modifier</button></li>
        </div>
        <form action="/updateDentiste" method="POST">
        <div class="profile-details">
            <h2>Addresse</h2>
            <input class="profile-input" id="adresseInput" type="text" th:value="${dentiste.adresse}" readonly  style="color: #7B68EE;" name="adresse"><br><br>
            <h2>N° Téléphone</h2>
            <p class="inline-p">Pro : </p><input class="profile-input" id="teleProInput" type="text" th:value="${dentiste.telephone}" readonly  style="color: #7B68EE;" name="telephone"><br><br>
            <p class="inline-p">Perso : </p><input class="profile-input" id="telePersoInput" type="text" value="---------" readonly  style="color: #7B68EE;"><br><br>
            <h2>E-mail</h2>
            <p class="inline-p" >Pro : </p><input class="profile-input" id="emailProInput" type="text" th:value="${dentiste.email}" readonly  style="color: #7B68EE;" name="email"><br><br>
            <p class="inline-p">Perso : </p><input class="profile-input" id="emailPersoInput" type="text" value="---------" readonly  style="color: #7B68EE;"><br><br>
            <button class="modifier-button" type="submit" id="enregistrerButton" style="display:none;">Enregistrer</button>
        </div>
        </form>
        <div class="profile-lists">
            <ul>
                <h3>Diplome</h3>
                <li>--------</li>
                <li>--------</li>
                <li>--------</li>
            </ul>
            <ul>
                <h3>Certificats d'honneurs</h3>
                <li>--------</li>
                <li>--------</li>
                <li>--------</li>
            </ul>
            <ul>
                <h3>Expériences Professionnelle</h3>
                <li>--------</li>
                <li>--------</li>
                <li>--------</li>
            </ul>
        </div>
    </div>
    <script src="profile/js/profile.js"></script>
</body>
</html>